<nav class="header mat-elevation-z6" id="header">
  <div class="main-container">
    <ul class="header__list">
      <li class="header__item">
        <a routerLink="/"
           routerLinkActive="header__active"
           [routerLinkActiveOptions]="{exact: true}"
           mat-button
           class="header__link">
          <i class="material-icons">videogame_asset</i>
           LGames
        </a>
      </li>

      <li class="header__item">
        <a routerLink="/games"
           mat-button
           routerLinkActive="header__active"
           class="header__link"
        >
          {{ 'HEADER__LIST-GAMES' | translate:lang }}
        </a>
      </li>
    </ul>

    <div class="header__right-elems">
      <div class="header__auth">
        <button mat-stroked-button [matMenuTriggerFor]="menu">
          <i class="material-icons">language</i>
          {{ 'Language' | translate:lang }}
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changeLanguage('ru')">{{ 'Russian' | translate:lang }}</button>
          <button mat-menu-item (click)="changeLanguage('en')">{{ 'English' | translate:lang }}</button>
        </mat-menu>
      </div>

      <ng-template #notAuthenticated>
        <div class="header__auth">
          <a routerLink="/authentication/sign-in"
             mat-button
             routerLinkActive="header__active"
             class="header__link">
            {{ 'HEADER__SIGN-IN' | translate:lang }}
          </a>

          <a routerLink="/authentication/sign-up"
             mat-button
             routerLinkActive="header__active"
             class="header__link">
            {{ 'HEADER__SIGN-UP' | translate:lang }}
          </a>
        </div>
      </ng-template>

      <div class="header__auth" *ngIf="authenticated$ | async; else notAuthenticated">
        <button mat-button (click)="singOut()">
          {{ 'Sign-out' | translate:lang }}
        </button>
      </div>
    </div>
  </div>
</nav>
