


.session-item {
  width: 500px;
}

.session-item__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.session-item__item {
  width: 32%;
}

.session-item__sub-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.session-item__buttons {
  display: flex;
  justify-content: flex-end;
}

.session-item__button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
