<div class="user-profile">
  <form class="user-profile__form" [formGroup]="form" *ngIf="user$ | async as user; else loader">
    <mat-form-field class="custom-field__input">
      <input matInput
             placeholder="{{ 'Name' | translate:lang }}"
             formControlName="name"
             autocomplete="off"
             [value]="user.name"
             [disabled]="true"
             (input)="onNameChange($event)"
      >
<!--      <mat-hint align="start">-->
<!--        {{ 'From' | translate:lang }} 4-->
<!--        {{ ('To' | translate:lang).toLowerCase() }} 16-->
<!--      </mat-hint>-->
    </mat-form-field>

    <div>
      <pre>{{ user | json }}</pre>
    </div>
  </form>

  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>
</div>
