<div class="message">
  <div class="message__wrap"
       [class.left]="user.uid !== message.userId"
       [class.right]="user.uid === message.userId"
  >
    <div class="message__name">
      {{ message.name || 'Anonymous' }}
    </div>

    <div class="message__text">
      {{ message.text }}
    </div>

    <div class="message__time">
      <span>{{ message.timestamp | date:'HH:mm' }}</span>
      <span class="message__status-indicator"
            [class.hide]="message.id && message.userId !== user.uid"
      >
        <img
          src="assets/general/svg-icons/chat-loader.svg"
          class="message__loader"
          alt="loader"
          *ngIf="!message.id"
        >

        <img
          src="assets/general/svg-icons/chat-checked-twice.svg"
          class="message__loader"
          alt="checked"
          *ngIf="message.id"
        >
      </span>
    </div>
  </div>
</div>

