@import "variables";
@import "mixins";


.chat {
  border-radius: $common-border-radius;
  z-index: 1001;
  width: 320px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: white;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
  transition: right 0.4s ease-in-out, bottom 0.4s ease-in-out;
}

.chat__header {
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 9px 0 7px;
  font-weight: bold;
  cursor: move;
}

.chat__title {
  text-align: center;
}

.chat__panel-icons {
  position: absolute;
  top: 5px;
  right: 6px;
  display: flex;
  align-items: center;
}

.chat__drag-handle {
  color: #c3c3c3;
  cursor: move;
  width: 24px;
  height: 24px;
}

.chat__drag-icon {
  fill: #c3c3c3;
  transition: fill 0.2s ease;

  &:hover {
    fill: $theme-blue;
  }
}

.chat__cross {
  color: #c3c3c3;
  cursor: pointer;
  font-size: 25px;
  line-height: 0;
  margin-left: 3px;
  transform: scaleX(0.9);
  transition: color 0.2s ease;

  &:hover {
    color: $theme-blue;
  }
}

.chat__return-chat {
  @include centerer-y;
  display: flex;
  justify-content: center;
  width: 22px;
  left: -18px;
  height: 104px;
  background-color: $theme-blue;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
  transition: left 0.4s ease-in-out 0.4s, box-shadow 0.4s ease-in-out, margin-left 0.4s ease-in-out;
  z-index: -100;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

  &:hover {
    margin-left: -4px;
  }

  &.hidden {
    left: 0;
    box-shadow: none;
  }
}

.chat__unread-messages {
  font-size: 12px;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  color: white;
}

.chat__unread-indicator {
  margin-left: 4px;
  padding: 4px;
  border-radius: 10px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/deep/ .mat-tab-label {
  height: 35px !important;
  width: 110px !important;
  min-width: 10px !important;
}

/deep/ .mat-tab-group {
  z-index: 5;
  background-color: white;
}
