


.player {
  border-radius: 4px;
  padding: 4px;
  border: 2px solid black;
  transition: all 0.2s ease-in;
}

.player__top {
  display: flex;
  align-items: stretch;
}

.player__name-block {
  width: 100%;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
}

.player__name {
  display: flex;
  align-items: center;
}

.player__controls {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player__status-indicator {

}

.player__select-menu {

}

.player__dots {
  width: 22px;
  min-width: 22px;
  height: 22px;
  min-height: 22px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(black, .1);
  }
}

.player__dots-icon {
  color: grey;
  font-size: 14px;
}
