@import "variables";


.centered-full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$header-height});

  &.abs {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.content-border {
  border: 2px solid black;
  padding: 15px;
  border-radius: $common-border-radius;
}
