@import "../../../assets/my-styles/variables";


.start-game-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$header-height});
}

.start-game-menu__content {

}
