<div class="enter-nickname" [formGroup]="nicknameForm">
  <div class="enter-nickname__title">
    {{ 'Enter nickname' | translate:lang }}
  </div>

  <div class="enter-nickname__desc">
    {{ 'Under this nickname you will be seen by other players' | translate:lang }}
  </div>

  <div class="enter-nickname__input">
    <mat-form-field>
      <input matInput
             placeholder="{{ 'Nickname' | translate:lang }}"
             autocomplete="off"
             formControlName="nickname"
      >
    </mat-form-field>
  </div>

  <div class="enter-nickname__button">
    <button mat-raised-button
            [disabled]="nicknameForm.invalid"
            color="primary"
            type="button"
            (click)="submitNickname()"
    >
      {{ 'Enter' | translate:lang }}
    </button>
  </div>
</div>
