<div class="chess" #gameContainer>
  <div class="chess__container" [style.width.px]="config.rows * config.cellWidth">
    <div class="chess__flip-button"
         [matTooltip]="'Flip board' | translate:lang"
         (click)="flipOverField()"
    >
      <i class="fas fa-retweet"></i>
    </div>

    <div
      class="chess__field"
      [style.transform]="upsideDown ? 'rotate(180deg)' : ''"
      (contextmenu)="rightClick($event)"
    >
      <div class="chess__row" *ngFor="let row of field; let rowIndex = index">
        <div
          class="chess__cell"
          *ngFor="let cell of row; let colIndex = index"
          [class.active]="isCellActive(rowIndex, colIndex)"
          [style.width.px]="config.cellWidth"
          [style.height.px]="config.cellHeight"
          [style.backgroundColor]="getCellBackground(rowIndex, colIndex)"
          (click)="cellClicked(getIdFromIndexes(rowIndex, colIndex))"
        >
          <!--        <span style="position: absolute; top: 0; left: 0;">{{ getIdFromIndexes(rowIndex, colIndex) }}</span>-->
          <div class="chess__available-mark" *ngIf="availableMoves.includes(getIdFromIndexes(rowIndex, colIndex))"></div>
        </div>
      </div>

      <app-chess-piece
        *ngFor="let whitePiece of whitePieces"
        name="{{ whitePiece.name }}"
        fraction="{{ whitePiece.fraction }}"
        [cellId]="whitePiece.cellId"
        [config]="config"
        (click)="cellClicked(whitePiece.cellId, whitePiece)"
        [upsideDown]="upsideDown"
        [@emersionAnimation]
      ></app-chess-piece>

      <app-chess-piece
        *ngFor="let blackPiece of blackPieces"
        name="{{ blackPiece.name }}"
        fraction="{{ blackPiece.fraction }}"
        [cellId]="blackPiece.cellId"
        [config]="config"
        (click)="cellClicked(blackPiece.cellId, blackPiece)"
        [style.transform]="upsideDown ? 'rotate(180deg)' : ''"
        [upsideDown]="upsideDown"
        [@emersionAnimation]
      ></app-chess-piece>
    </div>

  </div>
</div>
