

.socials {
  display: flex;
  justify-content: center;
}

.socials-item {
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.facebook {
    color: #3b5998;
  }

  &.google {
    color: #db3236;
  }
}
