<div class="message">
  <div class="message__wrap"
       [class.left]="user.uid !== message.userId"
       [class.right]="user.uid === message.userId"
  >
    <div class="message__name">
      {{ message.name || 'Anonymous' }}
    </div>

    <div class="message__text">
      {{ message.text }}
    </div>

    <div class="message__time">
      <span>{{ message.timestamp | date:'HH:mm' }}</span>
      <span class="message__status-indicator">
        <img src="assets/general/svg-icons/chat-loader.svg" alt="loader" class="message__loader" *ngIf="!message.id">
        <img src="assets/general/svg-icons/chat-checked-twice.svg" alt="checked" class="message__loader" *ngIf="message.id">
      </span>
    </div>
  </div>
</div>

